<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h1 class="text-center display-5 fw-bold">Bilal Hassan</h1>
      <p class="text-center lead mb-4">Front-End Web Developer</p>
      <p class="text-center">
        Highly skilled and motivated Front-End Web Developer with a passion for
        creating visually appealing and intuitive websites. Proficient in HTML,
        CSS, Bootstrap5, JavaScript, TypeScript and React JS with a strong
        understanding of modern web development technologies and best practices.
        Adept at collaborating with cross-functional teams to drive project
        success.
      </p>
      <hr />
      <h2 class="text-center">Contact</h2>
      <p class="text-center"><strong>Phone:</strong> +92 342 6217467</p>
      <p class="text-center">
        <strong>Location:</strong> Gujrat, Punjab Pakistan
      </p>
      <p class="text-center">
        <strong>Email:</strong> malibilal121212&#64;gmail.com
      </p>
      <p class="text-center">
        <strong>Website:</strong>
        <a href="https://malikbilal12.github.io/Bilal-s-Portfolio-Website"
          >https://malikbilal12.github.io/Bilal-s-Portfolio-Website</a
        >
      </p>
      <hr />
      <h2 class="text-center">Education</h2>
      <ul>
        <li>DAE: Mechanical, Swedish Pakistani College of Technology</li>
        <li>BCS: 2Math and Computer Science, Sargodha University</li>
        <li>MCS: Master of Computer Science, Virtual University Lahore</li>
      </ul>
      <hr />
      <h2 class="text-center">Work Experience</h2>
      <p>IT Department In Police - IT Administrator (2018 To 2020)</p>
      <ul>
        <li>Create Database for online attendance.</li>
        <li>Daily base check and balance this application.</li>
      </ul>
      <p>Freelancer - Remote Work (2019 2022)</p>
      <ul>
        <li>Online work: Web development, Database, Data entry.</li>
      </ul>
      <p>Techno verse - Front-End Web Developer (2023 Present)</p>
      <ul>
        <li>
          Contributed to the development of client websites, incorporating
          modern design principles and responsive layouts.
        </li>
        <li>
          Assisted in the optimization of website speed and performance,
          resulting in improved user experience.
        </li>
        <li>
          Collaborated with back-end developers to integrate front-end
          interfaces with server-side functionality.
        </li>
      </ul>
      <hr />
      <h2 class="text-center">Skills</h2>
      <p>HTML: 90%</p>
      <p>CSS: 70%</p>
      <p>JavaScript: 70%</p>
      <p>PHP: 90%</p>
      <p>MySQL: 65%</p>
      <p>MS Office: 90%</p>
    </div>
  </div>
</div>
